<%= render "common/banner" %>
<%= render "common/GridColumns" %>
<!--index -1 -->
<div class="o-wrapper testimonials-section u-text-contrast u-blended">
    <div class="o-wrapper__header text-center">
        <h3 class=""><i class="icon-quote icon-flipped"></i></h3>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center ">
                <p>我们将精心为您准备超级入门教程，为您讲解如何快速入门，如何使用模版。<br />五星级服务将是这里的标准。</p>
                <p><i class="fa fa-star u-padding-side-2"></i><i class="fa fa-star u-padding-side-2"></i><i class="fa fa-star u-padding-side-2"></i><i class="fa fa-star u-padding-side-2"></i><i class="fa fa-star u-padding-side-2"></i></p>
            </div>
        </div>
    </div>
    <div class="ie10-blended"></div>
</div>


<!--index -2 -->
